body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.form-page{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background: linear-gradient(to right, #f5f7fa, #c3cfe2); */
    background: linear-gradient(to right, #ffecd2, #fcb69f);
    padding: 1em;
}

.inner-box{
    background-color: #F0FFFF;
    /* background-color: #ffffff; */
    /* background-color: #e6e6fa; */
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
    width: 400px;
    text-align: center;
}
label {
    display: block;
    margin-bottom: 8px;
    text-align: left;
    font-size: large;
}
.inner-box .entry{
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    color: grey;
    border-radius: 4px ;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.15);
}

.inner-box .entry:focus{
    color: black;
}
.button-div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    
}
button{
    background-color: rgb(0, 0, 255);
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: navy;
    font-size: large;
    transition: transform 0.3s ease , box-shadow 0.3s ease;
}
button:hover {
    transform: scale(1.1); /* Scale the button up */
    box-shadow: 0 10px 20px rgba(0,0,0,0.2); /* Add a shadow */
}